@import '../bower_components/bootstrap/less/bootstrap';

section{
	&#add-fruit{
		h1{
			margin-top: 0;
		}
		form{
			margin-top: 20px;
			sup{
				color: @brand-danger;
			}
		}
	}
	&#manage-fruit{
		table > tbody > tr > td{
			vertical-align: middle;
			&:first-child{
				width: 15%;
			}
			&:last-child{
				width: 15%;
			}
		}
	}
}